{% extends 'plantilla.html' %}
{% block headingA %}
    {{ headline }}
{% endblock headingA %}

{% block navegacion %}
    <div class="list-group">
        {% for categoria in listaCategorias %}
            <a href = "{{ url_for('contenido', categoria = categoria) }}" class="list-group-item list-group-item-action list-group-item-secondary">{{ categoria }}</a>
        {% endfor %}
    </div>
{% endblock navegacion %}

{% block headingM %}
    {{ headline }}
{% endblock headingM %}

{% block body %}
<!--
<p> aqui deberia ir el detalle de {{isbn}}</p>
<span class="badge badge-primary">ISBN</span><div>{{ resultado[1] }}</div>
<span class="badge badge-secondary">Titulo</span><div>{{ resultado[2] }}</div>
<span class="badge badge-success">Autor</span><div>{{ resultado[3] }}</div>
<span class="badge badge-info">Año</span><div>{{ resultado[4] }}</div>
<span class="badge badge-light">Categoria</span><div>{{ resultado[5] }}</div>
-->

      <div class="card bg-light mb-3 mx-auto" id = "ficha" style="max-width: 25rem;">
        <div class="card-header"><span class="badge badge-primary">{{ resultado[3] }}</span></div>
        <div class="card-body">
          <h5 class="card-title bg-success text-white">{{ resultado[2] }}</h5>
          <p class="card-text"><span class="badge badge-info">ISBN:</span>{{ resultado[1] }} <span class="badge badge-info">Año:</span> {{ resultado[4] }} <span class="badge badge-info">Categoria:</span> {{ resultado[5] }} <span class="badge badge-info">Rating:</span> {{ rating }}</p>
        </div>
      </div>

{% endblock body %}

{% block leftContent %}
    {% if estadoLogin %}
        <div class="card" style="font-size: 0.8rem;">
            <div class="card-body">
                <h5 class="card-title">Bienvenido {{ estadoLogin }}</h5>
                
                <p class="card-text">Esperamos que disfrutes de tu experiencia en nuestra pagina.</p>
                <a href="{{ url_for('logout') }}" class="btn btn-primary stretched-link">No eres Tu? Sal de aqui</a>
            </div>
        </div> 
    {% else %}
        {% include 'miniLogin.html' %}
    {% endif %}
{% endblock leftContent %}