{% extends 'plantilla.html' %}
{% block head %}
<script>
    function enviar() {
        const request = new XMLHttpRequest();
        const email = document.querySelector('#inputEmail').value;
        const userPassword = document.querySelector('#inputPassword').value;
        var referencia = 0;
        request.open('POST', `/login`);
        const data = new FormData();
        data.append('email', email);
        data.append('userPassword', userPassword);

        // Send request
        request.send(data);
        //location.reload();
        request.onreadystatechange = function(){
            console.log(this.status)
            console.log(this.readyState)
            if (this.readyState==4 && this.status==200 && referencia == 0){
                //location.reload();
                //request.open('GET', `/`)
                //request.send()
                referencia = 1;
                location.reload();
            }
        };
    };
</script>
{% endblock head %}
{% block headingA %}
    {{ headline }}
{% endblock headingA %}

{% block navegacion %}
    <div class="list-group">
        {% for categoria in listaCategorias %}
            <a href = "{{ url_for('contenido', categoria = categoria) }}" class="list-group-item list-group-item-action list-group-item-secondary">{{ categoria }}</a>
        {% endfor %}
    </div>
{% endblock navegacion %}

{% block buscador %}
    {% include 'buscar.html' %}
{% endblock buscador %}

{% block headingM %}
    {{ headline }}
{% endblock headingM %}

{% block body %}
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
        <th scope="col">#</th>
        <th scope="col">Titulo</th>
        <th scope="col">Autor</th>
        <th scope="col">Categoria</th>
        </tr>
    </thead>
    <tbody>
        {% for linea in resultado %}
            <tr>
                {% if estadoLogin %}
                    <th scope="row"><a href="{{ url_for('detalle', isbn = linea[1]) }}"><i class="fa fa-hand-o-right"></i></a> {{ linea[1] }}</th>
                {% else %}
                    <th scope="row"><a href="#"><i class="fa fa-hand-o-right"></i></a> {{ linea[1] }}</th>
                {% endif %}
                <td>{{ linea[2] }}</td>
                <td>{{ linea[3] }}</td>
                <td>{{ linea[5] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation example" class = "my-3">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#" onclick="funcPaginar(this)">Previous</a></li>
      {% for i in numPaginas %}
        {% if i == 1 %}
            <li class="page-item active"><a class="page-link"  href="#" onclick="funcPaginar(this)">{{ i }}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link"  href="#" onclick="funcPaginar(this)">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      <li class="page-item"><a class="page-link"  href="#" onclick="funcPaginar(this)">Next</a></li>
    </ul>
  </nav>

  <div class="textillo">
    {% if estadoLogin %}
        <p>Dale a las <i class="fa fa-hand-o-right"></i> para ver los detalles del libro.</p>
    {% else %}
        <p>Logueate para ver los detalles del libro y dejar tu opinion.</p>
    {% endif %}
    <p>Animate a buscar, hay multiples opciones.</p>
  </div>
{% endblock body %}

{% block leftContent %}
    {% if estadoLogin %}
        <div class="card" style="font-size: 0.8rem;">
            <div class="card-body">
                <h5 class="card-title">Bienvenido {{ estadoLogin }}</h5>
                
                <p class="card-text">Esperamos que disfrutes de tu experiencia en nuestra pagina.</p>
                <a href="{{ url_for('logout') }}" class="btn btn-primary stretched-link">No eres Tu? Sal de aqui</a>
            </div>
        </div> 
    {% else %}
        {% include 'miniLogin.html' %}
        {% if nuevoUsuario[0] %}
            <div class="textillo">
                <p>Cuenta {{ nuevoUsuario[1] }} registrada correctamente.</p>
                <p>Logueate si quieres ver mas detalles o dejar comentarios.</p>
            </div>
        {% else %}
            <div class="textillo">
                <p>Logueate si quieres ver mas detalles o dejar comentarios.</p>
                <p>Si no estas registrado, pon un email y una contraseña y dale a "REGISTRARSE".</p>
            </div>
        {% endif %}
    {% endif %}
    
{% endblock leftContent %}

{% block alFondo %}
<script type=text/javascript src="{{url_for('static', filename='js/paginacion.js') }}"></script>
{% endblock alFondo %}