
{% extends 'plantilla.html' %}
{% block headingA %}
    {{ headline }}
{% endblock headingA %}

{% block navegacion %}
    <div class="list-group">
        {% for categoria in listaCategorias %}
            <a href = "{{ url_for('contenido', categoria = categoria) }}" class="list-group-item list-group-item-action list-group-item-primary">{{ categoria }}</a>
        {% endfor %}
    </div>
{% endblock navegacion %}

{% block headingM %}
    {{ headline }}
{% endblock headingM %}

{% block tabla %}
    {% for linea in resultado %}
        <tr>
            <th scope="row">{{ linea[1] }}</th>
            <td>{{ linea[2] }}</td>
            <td>{{ linea[3] }}</td>
            <td>{{ linea[5] }}</td>
        </tr>
    {% endfor %}

{% endblock tabla %}

{% block body %}
    <p>Aqui puedes ver algunos de los titulos disponibles.</p>
    <p>Animate a buscar, hay multiples opciones.</p>
{% endblock body %}

{% block leftContent %}
    {% if estadoLogin %}
        <div class="card-body">
            <h5 class="card-title">Bienvenido {{ estadoLogin }}</h5>
            <p class="card-text">Esperamos que disfrutes de tu experiencia en nuestra pagina.</p>
            <a href="{{ url_for('logout') }}" class="btn btn-primary stretched-link">No eres Tu? Sal de aqui</a>
      </div>  
    {% else %}
        {% include 'miniLogin.html' %}
    {% endif %}
{% endblock leftContent %}