<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!--<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/mystyle.css') }}">-->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/login_style.css') }}">
        <!--script type=text/javascript src="{{url_for('static', filename='js/main.js') }}"></!--script>-->
        <title>Alberto's Book Store</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row justify-content-start">
                <aside class="col-sm-2 col-md-2">
                    <nav class="collapse d-md-block">
                        <header>
                            <h3 class="badge badge-dark">{% block headingA %}{% endblock headingA %}</h3>
                            <p><a href="http://localhost:5000" class="badge badge-primary">Alberto</a><br>
                                <a href="mailto:melfir@gmail.com" class="badge badge-primary">melfir@gmail.com</a><br>
                                <a href="https://twitter.com/bertinhogago" class="badge badge-primary">https://twitter.com/bertinhogago</a>
                            </p>
                        </header>
        
                        
                            {% block navegacion %}
                            {% endblock navegacion %}
                    </nav>
                    <!--
                    <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Button with data-target
                    </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    </div>
                    -->
                    <!--<p><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample" aria-expanded="true" aria-controls="multiCollapseExample">Desplegar Menu</button></p>-->
                    <!--<div class="collapse multi-collapse" id="multiCollapseExample">-->
                    <!--<button aria-controls="nav" aria-expanded="false" class="btn btn-sm collapsed d-md-none" data-target="aside > span" data-toggle="collapse">Menu</button>-->
                    <button aria-controls="nav" aria-expanded="false" class="btn btn-primary collapsed d-md-none" data-target="aside > nav" data-toggle="collapse">Menu</button>

                   
                </aside>

                <main class="col-sm-7 col-md-7">
                    <h1>
                        {% block headingM %}{% endblock headingM %}
                    </h1>
                    <div>
                        <table class="table table-hover">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Titulo</th>
                                <th scope="col">Autor</th>
                                <th scope="col">Categoria</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% block tabla %}
                                {% endblock tabla %}
                            </tbody>
                          </table>
                        {% block body %}
                        {% endblock body %}

                    </div>
                

                    <div>
                        {% block foot %}
                        {% endblock foot %}

                    </div>
                    
                </main>
                <div class="col-sm-3 col-md-3 col-lg-3 mx-auto">
                    {% block leftContent %}
                    {% endblock leftContent %}
                </div>
                

            </div>
        </div>
        <div class="fixed-bottom"><span class="badge badge-dark">Hecho por Alberto @2019</span></div>
        <!--<h6 id="pieDerecho">Hecho por Alberto @2019</h6>-->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>